@font-face {
  font-family: "Sans";
  src: url("/fonts/GoogleSans-VariableFont_GRAD,opsz,wght.ttf")
    format("truetype");
  font-weight: 300 400 500 600 700 800 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sans italic";
  src: url("/fonts/GoogleSans-Italic-VariableFont_GRAD,opsz,wght.ttf")
    format("truetype");
  font-weight: 300 400 500 600 700 800 900;
  font-style: italic;
  font-display: swap;
}
