@import "tailwindcss";
@import "./font.css";

:root {
  --font-sans: "MonaSans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
}

body {
  font-family: var(--font-sans);
  @apply bg-white text-gray-900;
}
