@import "tailwindcss";
@import "./font.css";

:root {
  --font-sans: "Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif;
  --font-italic-sans: "Sans italic";
  --theme-color: #0fba3d;
  /* --theme-color: #34a853; */
}

body {
  font-family: var(--font-sans);
  @apply bg-white text-gray-900;
}
