@import "tailwindcss";
@import "./font.css";

:root {
  --font-sans: "Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif;
  --font-italic-sans: "Sans italic";
  --theme-color: #0fba3d;
  /* --theme-color: #34a853; */
}

body {
  font-family: var(--font-sans);
  @apply bg-white text-gray-900;
}

.skeleton {
  position: relative;
  overflow: hidden;
  background: #e5e7eb;
  border-radius: 8px;
}

/* Shimmer effect */
.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 150%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(240, 240, 240, 0) 0%,
    rgba(255, 255, 255, 0.4) 25%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    rgba(240, 240, 240, 0) 100%
  );

  animation: shimmer 1.2s infinite;
}

@keyframes shimmer {
  100% {
    left: 100%;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes rotate-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-rotate-slow {
  animation: rotate-slow 20s linear infinite;
}

.animate-rotate-slow-reverse {
  animation: rotate-slow 25s linear infinite reverse;
}
